

/* parte do container que emgloba o login*/
.container_login {
    display: flex;
    width: 99%;
    margin: auto;
    flex-direction: column;
   
    border: 1px solid rgb(197, 129, 3);
}

.logo_login {
    width: 200px;
    margin: auto;
    height: 100px;
    margin-top: 10px;
    background-image: url('../img/logo_inter.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.container_login form {
    margin: auto;
    margin-top: 10px;
    display: flex;
    
    flex-direction: column;
}

.form_input_login {
    display: flex;
    margin-top: 10px;
    color: rgb(197, 129, 3);
    justify-content: space-between;
}

.form_input_login input {
   
    border: 2px solid rgb(197, 129, 3);
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

.label {
    font-size: 20px;
}
.btn{
    width:100%;
    text-align: center;
    margin-top: 30px;
}

#btn_login {
  width: 60px;
  height: 30px;
  font-size: 15px; 
 background-color: rgb(197, 129, 3) ;
 color: white;
 border: 0;
 border-radius: 5px;
 

}
.headermenu{
    color: green;
}
